// Regular
@font-face 
	font-family: 'Rubik';
	font-weight: 400;
	font-style: normal;
	src: url('/fonts/Rubik/rubik-regular.eot');
	src: url('/fonts/Rubik/rubik-regular.eot?#iefix') format('embedded-opentype'),
		local('Rubik'),
		url('/fonts/Rubik/rubik-regular.woff2') format('woff2'),
		url('/fonts/Rubik/rubik-regular.woff') format('woff'),
		url('/fonts/Rubik/rubik-regular.ttf') format('truetype'),
		url('/fonts/Rubik/rubik-regular.svg#Rubik') format('svg');

// Regular italic
@font-face 
	font-family: 'Rubik';
	font-weight: 400;
	font-style: italic;
	src: url('/fonts/Rubik/rubik-regular.eot');
	src: url('/fonts/Rubik/rubik-regular.eot?#iefix') format('embedded-opentype'),
		local('Rubik'),
		url('/fonts/Rubik/rubik-regular.woff2') format('woff2'),
		url('/fonts/Rubik/rubik-regular.woff') format('woff'),
		url('/fonts/Rubik/rubik-regular.ttf') format('truetype'),
		url('/fonts/Rubik/rubik-regular.svg#Rubik') format('svg');

// Light
@font-face 
	font-family: 'Rubik';
	font-weight: 300;
	font-style: normal;
	src: url('/fonts/Rubik/rubik-light.eot');
	src: url('/fonts/Rubik/rubik-light.eot?#iefix') format('embedded-opentype'),
		local('Rubik'),
		url('/fonts/Rubik/rubik-light.woff2') format('woff2'),
		url('/fonts/Rubik/rubik-light.woff') format('woff'),
		url('/fonts/Rubik/rubik-light.ttf') format('truetype'),
		url('/fonts/Rubik/rubik-light.svg#Rubik') format('svg');

// Light italic
@font-face 
	font-family: 'Rubik';
	font-weight: 300;
	font-style: italic;
	src: url('/fonts/Rubik/rubik-lightitalic.eot');
	src: url('/fonts/Rubik/rubik-lightitalic.eot?#iefix') format('embedded-opentype'),
		local('Rubik'),
		url('/fonts/Rubik/rubik-lightitalic.woff2') format('woff2'),
		url('/fonts/Rubik/rubik-lightitalic.woff') format('woff'),
		url('/fonts/Rubik/rubik-lightitalic.ttf') format('truetype'),
		url('/fonts/Rubik/rubik-lightitalic.svg#Rubik') format('svg');

// Medium
@font-face 
	font-family: 'Rubik';
	font-weight: 500;
	font-style: normal;
	src: url('/fonts/Rubik/rubik-medium.eot');
	src: url('/fonts/Rubik/rubik-medium.eot?#iefix') format('embedded-opentype'),
		local('Rubik'),
		url('/fonts/Rubik/rubik-medium.woff2') format('woff2'),
		url('/fonts/Rubik/rubik-medium.woff') format('woff'),
		url('/fonts/Rubik/rubik-medium.ttf') format('truetype'),
		url('/fonts/Rubik/rubik-medium.svg#Rubik') format('svg');
		
// Medium italic
@font-face 
	font-family: 'Rubik';
	font-weight: 500;
	font-style: italic;
	src: url('/fonts/Rubik/rubik-mediumitalic.eot');
	src: url('/fonts/Rubik/rubik-mediumitalic.eot?#iefix') format('embedded-opentype'),
		local('Rubik'),
		url('/fonts/Rubik/rubik-mediumitalic.woff2') format('woff2'),
		url('/fonts/Rubik/rubik-mediumitalic.woff') format('woff'),
		url('/fonts/Rubik/rubik-mediumitalic.ttf') format('truetype'),
		url('/fonts/Rubik/rubik-mediumitalic.svg#Rubik') format('svg');

// bold
@font-face 
	font-family: 'Rubik';
	font-weight: 500;
	font-style: normal;
	src: url('/fonts/Rubik/rubik-bold.eot');
	src: url('/fonts/Rubik/rubik-bold.eot?#iefix') format('embedded-opentype'),
		local('Rubik'),
		url('/fonts/Rubik/rubik-bold.woff2') format('woff2'),
		url('/fonts/Rubik/rubik-bold.woff') format('woff'),
		url('/fonts/Rubik/rubik-bold.ttf') format('truetype'),
		url('/fonts/Rubik/rubik-bold.svg#Rubik') format('svg');
		
// bold italic
@font-face 
	font-family: 'Rubik';
	font-weight: 500;
	font-style: italic;
	src: url('/fonts/Rubik/rubik-bolditalic.eot');
	src: url('/fonts/Rubik/rubik-bolditalic.eot?#iefix') format('embedded-opentype'),
		local('Rubik'),
		url('/fonts/Rubik/rubik-bolditalic.woff2') format('woff2'),
		url('/fonts/Rubik/rubik-bolditalic.woff') format('woff'),
		url('/fonts/Rubik/rubik-bolditalic.ttf') format('truetype'),
		url('/fonts/Rubik/rubik-bolditalic.svg#Rubik') format('svg');
		
// black
@font-face 
	font-family: 'Rubik';
	font-weight: 500;
	font-style: normal;
	src: url('/fonts/Rubik/rubik-black.eot');
	src: url('/fonts/Rubik/rubik-black.eot?#iefix') format('embedded-opentype'),
		local('Rubik'),
		url('/fonts/Rubik/rubik-black.woff2') format('woff2'),
		url('/fonts/Rubik/rubik-black.woff') format('woff'),
		url('/fonts/Rubik/rubik-black.ttf') format('truetype'),
		url('/fonts/Rubik/rubik-black.svg#Rubik') format('svg');
		
// black italic
@font-face 
	font-family: 'Rubik';
	font-weight: 500;
	font-style: italic;
	src: url('/fonts/Rubik/rubik-blackitalic.eot');
	src: url('/fonts/Rubik/rubik-blackitalic.eot?#iefix') format('embedded-opentype'),
		local('Rubik'),
		url('/fonts/Rubik/rubik-blackitalic.woff2') format('woff2'),
		url('/fonts/Rubik/rubik-blackitalic.woff') format('woff'),
		url('/fonts/Rubik/rubik-blackitalic.ttf') format('truetype'),
		url('/fonts/Rubik/rubik-blackitalic.svg#Rubik') format('svg');