@import '../util/grid-functions'

// Basic row
.row
	row()

// Colored rows
.row--primary
	row($color-primary)
	
.row--primary-dark
	row($color-primary-dark)
	
.row--grey
	row($color-grey)

// Basic container
.container
	container()

// Homepage container
.container--narrow
	container(960px)