for key, value in $spacing
	.padding--{key}
		padding: value
		
	.padding-top-bottom--{key}
		padding-top: value
		padding-bottom: value
	.padding-left-right--{key}
		padding-left: value
		padding-right: value
	
	.padding-top--{key}
		padding-top: value
	.padding-bottom--{key}
		padding-bottom: value
	.padding-left--{key}
		padding-left: value
	.padding-right--{key}
		padding-right: value
		
	.margin--{key}
		margin: value
		
	.margin-top-bottom--{key}
		margin-top: value
		margin-bottom: value
	.margin-left-right--{key}
		margin-left: value
		margin-right: value
	
	.margin-top--{key}
		margin-top: value
	.margin-bottom--{key}
		margin-bottom: value
	.margin-left--{key}
		margin-left: value
	.margin-right--{key}
		margin-right: value