$color-primary 			= #4A90E2;
$color-primary-medium 	= #3971B2;
$color-primary-dark 	= #1B416D;

$color-white 			= #ffffff;
$color-grey 			= #EFEFEF;
$color-grey-medium 		= #D8D8D8;
$color-grey-dark 		= #AFAFAF;


$color-heading 			= #4A4A4A;
$color-text 			= #4A4A4A;